.contact-page {
  font-family: "Noto Sans", sans-serif;
  padding: 0px 0;
  background-color: #ffffff; 
}

.contact-header {
  background-color: #e7f5f4;
  padding: 60px 0;
  text-align: center;
}

.contact-header h1 {
  font-size: 60px;
  color: #368387;
  margin: 0 0 10px 0; 
}

.breadcrumb {
  color: #558a8d;
  font-size: 16px;
  margin-bottom: 20px; 
}

.breadcrumb span {
  color: #368387;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-columns {
  display: flex;
  gap: 20px;
}

.google-map-column {
  flex: 1;
}

.form-column {
  flex: 1;
  background-color: #558a8d; 
  padding: 20px;
  color: white;
  border-radius: 10px;
}

h2 {
  font-size: 32px;
  margin-bottom: 0px;
  color: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
  color: white;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input {
  height: 40px;
}

textarea {
  resize: vertical;
}

.submit-button {
  background-color: #368387;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #2d6f6d;
}

.content h1 {
  text-align: center;
  padding-top: 5%;
  font-family: "Noto Sans", sans-serif;
  color: #558a8d;
}

.box-container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
}
.box-container img {
  width: 50px; 
  height: auto; 
  max-width: 100%; 
}
.box-1 {
  background-color: #f5f9ff;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  width: 32%;
  padding: 40px 20px;
  display: flex;
  margin: 15px;
  float: left;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.box-container h2 {
  font-size: 26px;
  color: #558a8d;
}

.box-2 {
  background-color: #f5fbf8;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  width: 32%;
  padding: 40px 20px;
  display: flex;
  margin: 15px;
  float: right;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.box-3 {
  background-color: #fff8f8;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  width: 32%;
  padding: 40px 20px;
  display: flex;
  margin: 15px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.contact-button-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

.get-in-touch-btn {
  background-color: #eaf6f0; 
  color: #1d9b6c; 
  border: none;
  padding: 10px 20px;
  border-radius: 25px; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-in-touch-btn:hover {
  background-color: #d0ece2; 
}

.map-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.map-container iframe {
  width: 100%;
  max-width: 1300px; 
  height: 350px;
  border-radius: 10px;
  border: none;
}
