.home {
  font-family: "Noto Sans", sans-serif; /* Ensure the font is applied */
}

/* First Sections test */

#home-bg {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("/public/bg-fsec.png");
  background-size: 300px;
  background-position: right top;
  background-repeat: no-repeat;
}
.homepage-first-section {
  align-items: left; /* Vertically center the content */
  padding: 0 20px; /* Add horizontal padding */
  color: #558a8d; /* Text color */
}

/* Title Style */
.title {
  font-size: 75px;
  color: #558a8d;
  letter-spacing: 4px;
  text-transform: uppercase; /* Adjust font size as needed */
}

/* Second Section */
.homepage-second-section {
  padding: 0px 0px; /* Add padding */
  background-color: #ffffff; /* Background color for the second section */
  text-align: left; /* Center text */
  color: #368387; /* Text color */
}

/* Two Columns Layout */
.two-columns {
  display: flex; /* Use flexbox for columns */
}

/* Column Styles */
.column {
  flex: 1; /* Each column takes equal space */
  padding: 0 20px; /* Add horizontal padding */
  width: 50%; /* Ensure each column is 50% width */
}

#home-text {
  margin-top: -70px;
}

#home-text2 {
  margin-top: -95px;
}

/* Content Container for Second Section */
.content-container {
  max-width: 1200px; /* Set max width for the inner content */
  margin: 0 auto; /* Center the content */
}

.team-image {
  width: 100%; /* Cover full width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the area */
  border-radius: 80px 10px;
}
